<footer class="footer bg-dark py-3 mt-auto">
<div class="container">
    <span class="text-white ">&copy;yelpCamp</span>
</div>
</footer>
<!-- <style>
    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style> -->