<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white text-uppercase" href="#">yelpCamp</a>
    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
           <a class="nav-link active text-white text-uppercase" aria-current="page" href="/campground">campgrounds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" href="/campground/new">New Camp</a>
        </li>
        <% if (currentUser) { %>
         <li class="nav-item">
          <a class="nav-link text-white text-uppercase" href="/login/reviews">All Reviews</a>
        </li>
        <% } %>
      </ul>
      <div class="navbar-nav">
        <% if (!currentUser) { %>
          <a class="nav-link text-white text-uppercase" href="/register">Register</a>
          <a class="nav-link text-white text-uppercase" href="/Login">Log In</a>
           <% } else { %>
            <a class="nav-link text-white text-uppercase" href="/logout">Logout</a>
            <% } %>
           
      </div>
    </div>
  </div>
</nav>