<% layout('./layouts/boilerPlate') %>
    <h1>All Campgrounds</h1>
    <a href="/campground/new">New Camp</a>
    <style>
        img{
            overflow: hidden;
            height: 160px;
            
        }
    </style>
        <% for( let camp of campgrounds ) { %>
            <div class="card border border-warning" >
                <div class="row" style="height: 10rem;">
                    <div class="col-md-4">
                        <img class="img-fluid" src="<%= camp.Image %>">
                    </div>
                    <div class="col-md-8">
                           <h5 class="card-title"><%= camp.Name %></h5>
                            <p class="card-text"><%= camp.Description %></p>
                            <a href="/campground/<%= camp._id %>" class="btn btn-primary">Camp Details</a>
                    </div>
                </div>

            </div>
        <% } %>
   

    
