<% layout('./layouts/boilerPlate') %>
     <h1 class="text-center">Create New Campground</h1>
     <div class="col-6 offset-3">
        <form class="needs-validation" action="/campground" method="post" novalidate enctype="multipart/form-data"> 
        <div class="mb-3">
            <label class="fw-bold" for="name" class="form-label">Camp Name</label>
            <input type="text" class="form-control" id="name" name="Name" required>
            <div class="invalid-feedback">
                Name cannot be empty
            </div>
            <!--   -->
        </div>
        <div class="mb-3">
            <label class="fw-bold" for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="Location" min="3" required>
            <!-- <div class="valid-feedback">
                Looks Good
            </div> -->
            <div class="invalid-feedback">
                Location cannot be empty
            </div>
        </div>
        <div class="mb-3 custom-file">
            <label class="fw-bold" for="image" class="form-label">Images</label>
            <input type="file" class="form-control " id="image" name="Image" multiple required> 
             <div class="invalid-feedback">
                Image cannot be empty
            </div>

            <div class="mt-2 preview-block d-flex flex-row">
               <!-- <img id="preview"  src="" style="display: none;" alt="uploaded" width="100", height="100"> -->
            </div>
            <!-- <div class="valid-feedback">
                Looks Good
            </div> -->
        </div>
        <div class="mb-3">
            <label class="fw-bold" for="price" class="form-label">Campground Price</label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" id="price" name="Price" placeholder="0.0" required>
    
            </div>
            <div class="invalid-feedback">
                Price cannot be empty
            </div>
            <!-- <div class="valid-feedback">
                Looks Good
            </div> -->
        </div>
        <div class="mb-3 ">
             <label class="fw-bold" for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="Description" required></textarea>
            <div class="invalid-feedback">
                Description cannot be empty
            </div>
            <!-- <div class="valid-feedback">
                Looks Good
            </div> -->
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
     </div>
    
<script>
    const parentNode = document.querySelector('.preview-block')
    const images = document.querySelector('#image')
    const imagePreview = document.querySelector('#preview')
   $("#image").on("change", function() {
        $('.preview-block').empty()
     let arr =[]
    Object.entries(images.files).forEach(([key,value])=>{
          arr.push(URL.createObjectURL(value))
    })
    for(let ar of arr)
    {
        const box = document.createElement('img')
        box.style.height ="50px"
        box.style.width ="50px"
        box.style.marginRight = "10px"
        box.style.borderRadius = "10px"
        box.src = ar
        parentNode.appendChild(box)

    }
         arr = []
});

// $('#preview').on("click", function(){
 
//     imagePreview.src = ''
//      $('#preview').hide()
//      const files = images.files
//      let r = files
//     //  const dataTransfer = new DataTransfer()
//     //  dataTransfer.items.add(files)
//     console.log( typeof  r) 
//     console.log(  files) 
//       for(let key in r)
//       {
//         if(key === '0')
//         {
//            //console.log(typeof files[key])
//            console.log(r[key]) 
//            delete r.key
//             // console.log(`${key} : ${files[key]}`)
//             // for(let ob in r)
//             // {
//             //     console.log(r[ob])
//             // }
//         }
        
//       }
//        console.log(  r) 
// })
   
</script>