<% layout('./layouts/boilerPlate') %>
     <h1 class="text-center">Create New Campground</h1>
     <div class="col-6 offset-3">
        <form class="needs-validation" action="/campground" method="post" novalidate> 
        <div class="mb-3">
            <label class="fw-bold" for="name" class="form-label">Camp Name</label>
            <input type="text" class="form-control" id="title" name="Name" required>
            <div class="invalid-feedback">
                Name cannot be empty
            </div>
            <!--   -->
        </div>
        <div class="mb-3">
            <label class="fw-bold" for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="Location" min="3" required>
            <!-- <div class="valid-feedback">
                Looks Good
            </div> -->
            <div class="invalid-feedback">
                Location cannot be empty
            </div>
        </div>
        <div class="mb-3">
            <label class="fw-bold" for="image" class="form-label">Image url</label>
            <input type="text" class="form-control" id="image" name="Image" required>
             <div class="invalid-feedback">
                Image cannot be empty
            </div>
            <!-- <div class="valid-feedback">
                Looks Good
            </div> -->
        </div>
        <div class="mb-3">
            <label class="fw-bold" for="price" class="form-label">Campground Price</label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="text" class="form-control" id="price" name="Price" placeholder="0.0" required>
    
            </div>
            <div class="invalid-feedback">
                Price cannot be empty
            </div>
            <!-- <div class="valid-feedback">
                Looks Good
            </div> -->
        </div>
        <div class="mb-3 ">
             <label class="fw-bold" for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="Description" required></textarea>
            <div class="invalid-feedback">
                Description cannot be empty
            </div>
            <!-- <div class="valid-feedback">
                Looks Good
            </div> -->
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
     </div>
    
